.carrosel {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 0em 0 0.5em 0;
}

.carrosel_titulo {
    color: var(--laranja);
    background-color: var(--branco);
    padding: 0.5em;
}

.swiper-slide img {
    width: 100%;
}



.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__botao {
    display: flex;
    justify-content: space-between;
}

.botao {
    display: flex;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
    text-align: left;
    font-size: 16px;
    text-align: left;
    text-transform: none;
}

.descricao__titulo-livro {
    color: var(--azul);
    font-weight: 700;
    font-size: 18px;
    padding: 0.5em 0;
    text-align: left;
    text-transform: none;
}

.descricao__titulo-livro-2 {
    color: var(--azul);
    font-weight: 700;
    font-size: 17px;
    padding: 0.5em 0;
    text-align: left;
    text-transform: none;
}

.descricao__estrelas {
    display: flex;
    padding: 0.5em 0 0.5em;
}

.descricao__texto {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    text-transform: none;
}

.botao__item {
    margin: 0 0.5em;
    display: flex;
}

.botao__ancora {
    background-color: var(--laranja);
    padding: 1em 1.7em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
}

@media screen and (min-width: 1024px) {
    .carrosel_titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 68%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card{
        width: 40%;
        margin: 2em auto;
    }
}

@media screen and (min-width: 1728px){
    .carrosel__container{
        display: flex;
        margin: 0 10vw 3em 10vw;
        align-items: center;
    }

    .swiper-pagination{
        margin: 1em 0;
    }

    .swiper{
        width: 50%;
    }

    .descricao__titulo{
        font-size: 32px;

    }

    .descricao__texto{
        font-size: 16px;
    }

    .descricao{
        margin-right: 2em;
    }
    
    .card{
        width: 50%;
        margin-left: 3em;
  margin-top: 5em;
    }

}